<%- include("template/cabecera5", {tituloWeb: 'Trivia Usuario' }) %>

    <body class="bg-info">
        <!-- -->
        <br>
        <center>
            <div class="container border border-dark">
                <h3> Lee atentamente las siguientes preguntas y selecciona la alternativa que consideres correcta </h3>
            </div>
        </center>
        <br>
        <form class="form-check" action="validar" method="post">
            <div class="container border border-dark">
                <h1 name="pregunta">
                    <%= pregunta %>
                </h1>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp1" value=<%=respuestaCorrecta %>>
                    <%= respuestaCorrecta %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp1">
                    <%= RespuestaIncorrecta1 %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp1">
                    <%= RespuestaIncorrecta2 %>
                </label>
                <!---->
            </div> <br>
            <div class="container border border-dark">
                <h1 name="pregunta2">
                    <%= pregunta2 %>
                </h1>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp2" value=<%=respuestaCorrecta2 %>>
                    <%= respuestaCorrecta2 %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp2">
                    <%= RespuestaIncorrecta22 %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp2">
                    <%= RespuestaIncorrecta22 %>
                </label>
            </div>
            <!---->
            <br>
            <div class="container border border-dark">
                <h1 name="pregunta3">
                    <%= pregunta3 %>
                </h1>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp3" value=<%=respuestaCorrecta3 %>>
                    <%= respuestaCorrecta3 %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp3">
                    <%= RespuestaIncorrecta33 %>
                </label>
                <br>
                <label class="form-check">
                    <input class="form-check-input" type="radio" name="rp3">
                    <%= RespuestaIncorrecta33 %>
            </div>
            <br>
            <center><button type="submit" class="btn btn-primary">Enviar</button></center>
        </form>
        </div>